@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TT Octosquares Trl';
    src: url('/assets/fonts/TT Octosquares Trial Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ✅ Hide default password eye icon in all browsers */
input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button {
    display: none !important;
    appearance: none;
}
