PRIVATE_KEY=216482507e48bf05d42c00be1aa99b4898b9671532ae3b74ff9829a6a376aeb6
INFURA_AMOY_URL=https://polygon-amoy.infura.io/v3/94e4882aaf76403a8730e71959fd3edb

MONGO_URI=mongodb://localhost:27017/wulapal  # For local DB
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/wulapal  # For MongoDB Atlas

# ✅ Gmail SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465  # Use 465 for SSL, 587 for TLS
SMTP_USER=ramsfilesbtm@gmail.com
SMTP_PASS="lhmx jhbk xoxw plgu" 
EMAIL_FROM=ramsfilesbtm@gmail.com# This should match your SMTP_USER

# JWT Secret for Authentication
JWT_SECRET=1842f2f209efe3bc47c3370d92cf9ec7b3cd36114f9b88fc7260ce846709c728322c8449f526a4c4de0f59f782da9c6389e6ad299dd3283c94261ecb788c07d8

# ✅ Xendit API Key
XENDIT_SECRET_KEY=xnd_development_oYjfL7U56vpNEsXkOc07tLwK6jpyP20w4VwTVECwd3gm7h0BMhHL18w3tHuJBE

